<div>
    <h1>Welcome!!<h1><br>
    <p>You have visited this site {{count}} times.</p>
<div>
    

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color:rgb(137, 12, 209);
        font-size: 40pt;
    }
    p {
        color:black;
        font-size: 24pt;
    }
</style>

